<header>
  <h1>JChat</h1>
</header>
<form class="standard">
  <dl>
    <dt>
      <label for="name">User name</label>
    </dt>
    <dd><input type="text" id="name" name="name" /></dd>

    <dt>
      <label for="email">Email</label>
    </dt>
    <dd><input type="email" id="email" name="email" /></dd>

    <dt>
      <label for="password">Password</label>
    </dt>
    <dd><input type="password" id="password" name="password" /></dd>

    <dt>
      <label for="passwordConfirmation">Password Confirmation</label>
    </dt>
    <dd><input type="password" id="passwordConfirmation" name="passwordConfirmation" /></dd>
  </dl>

  <input type="submit" value="Register" />
  <a href="#login" class="login">Login</a>
</form>
